.counter {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h1{
    /* border: 2px solid blueviolet; */
    padding: 10px;
    margin: 0 5px;

}